.pengajuan-detail {
  padding: 4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 6rem;
  }

  .data-pengaju,
  .file-pengajuan,
  .info-pengajuan {
    padding: 2rem 3.5rem 3rem 3.5rem;
    background-color: var(--color-transparent-green);
    border-radius: 2rem;

    &__heading {
      font-size: 2rem;
      font-weight: 700;
      color: var(--color-green);
    }

    &__key,
    &__value {
      font-size: 1.4rem;
    }
  }

  .data-pengaju {
    grid-column: 1 / 3;

    &__details {
      display: grid;
      grid-template-columns: 6rem 1fr;
    }
  }

  .info-pengajuan {
    &__details {
      display: grid;
      grid-template-columns: 12rem 1fr;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;

  &__separator {
    margin: 0 1rem;
  }

  &__link {
    a {
      text-decoration: none;
      color: var(--color-dark-grey);
      font-weight: 400;
      &:hover {
        border-bottom: 2px solid var(--color-dark-grey);
      }
    }
  }

  &__current {
    color: var(--color-black);
  }
}

.line-loading {
  height: 2rem;
  width: 10rem;
  animation: colorTransition 1.5s ease infinite;
  border-radius: 3rem;
}
