.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  height: 22rem;
  width: 28rem;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0 2rem;
  span {
    margin-top: 1rem;
    text-align: center;
    color: var(--color-white);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.25);
}
