.card {
  box-shadow: 0 4px 8px rgba(black, 0.25);
  border-radius: 3rem;
  overflow: hidden;
  background-color: var(--color-green);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media only screen and (max-width: 39.25em) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 1.5rem;
  }

  &__img-container {
    height: 25rem;
    overflow: hidden;
    background-color: var(--color-white);

    @media only screen and (max-width: 39.25em) {
      height: 100%;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &__details {
    padding: 3rem;
    display: grid;
    text-align: left;

    @media only screen and (max-width: 39.25em) {
      padding: 2rem;
    }

    .heading-tertiary {
      color: var(--color-white);
      line-height: 1.3;
      font-size: 2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media only screen and (max-width: 39.25em) {
        font-size: 1.6rem;
      }
    }

    .paragraph {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 1.4rem;
      color: var(--color-grey);

      @media only screen and (max-width: 39.25em) {
        font-size: 1.2rem;
      }
    }
  }

  &__date {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 39.25em) {
      font-size: 1.2rem;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.card-loading {
  box-shadow: 0 4px 8px rgba(black, 0.25);
  border-radius: 3rem;
  overflow: hidden;
  background-color: var(--color-grey);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media only screen and (max-width: 39.25em) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 1.5rem;
  }

  &__img-container {
    height: 25rem;
    overflow: hidden;
    background-color: var(--color-grey-2);
    animation: colorTransition 3s infinite reverse;

    @media only screen and (max-width: 39.25em) {
      height: 100%;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }

  &__details {
    padding: 3rem;
    display: grid;

    @media only screen and (max-width: 39.25em) {
      padding: 2rem;
    }
  }

  &__title {
    height: 1.8rem;
    background-color: var(--color-grey-2);
    width: 20rem;
    margin-bottom: 2rem;
    animation: colorTransition 3s infinite reverse;
  }

  &__date {
    height: 1.4rem;
    background-color: var(--color-grey-2);
    width: 10rem;
    margin-bottom: 2rem;
    animation: colorTransition 3s infinite reverse;

    @media only screen and (max-width: 39.25em) {
    }
  }

  &__paragraph {
    height: 1.4rem;
    background-color: var(--color-grey-2);
    width: 20rem;
    animation: colorTransition 3s infinite reverse;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
