.cu-berita {
  width: 65rem;
  font-size: 1.6rem;
  margin: 5rem auto;

  &__input {
    font-size: 2.4rem;
    border: none;
    width: 65rem;
    border-bottom: 1px solid var(--color-dark-grey);
    padding: 0.5rem 0;
    margin-bottom: 2rem;

    &::placeholder {
      color: var(--color-grey-2);
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
  }
}

.MuiTypography-body2-135,
.MuiListSubheader-root-67 {
  font-size: 1.4rem;
}

.MuiTypography-body1-136 {
  font-size: 1.6rem;
}
