.cu-berita {
  width: 100rem;
  font-size: 1.6rem;
  margin: 5rem auto;
}

.MuiTypography-body2-135,
.MuiListSubheader-root-67 {
  font-size: 1.4rem;
}

.MuiTypography-body1-136 {
  font-size: 1.6rem;
}
