.heading-primary {
  color: var(--color-black);
  font-size: 4.8rem;
  line-height: 1.4;
}

.heading-secondary {
  color: var(--color-black);
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 3rem;
  color: var(--color-black);
}

.paragraph {
  color: var(--color-black);
  font-size: 2rem;
}
