:root {
  --color-black: #1b1b1b;
  --color-white: #fff;
  --color-white-2: #fcfcfc;
  --color-dark-grey: #6d7e81;
  --color-yellow: #f9cd35;
  --color-green: #44ada8;
  --color-transparent-green: #f5fcf6;
  --color-grey: #eaeaea;
  --color-grey-2: #b3b3b3;
  --color-red: #f3285b;
}

$color-black: #1b1b1b;
$color-white: #fff;
$color-white-2: #fcfcfc;
$color-dark-grey: #6d7e81;
$color-yellow: #f9cd35;
$color-green: #44ada8;
$color-transparent-green: #f5fcf6;
$color-grey: #eaeaea;
$color-grey-2: #b3b3b3;
$color-red: #f3285b;
